
/* ---- Variables ---- */
:root {
  --black: #2B2B2B;
  --white: #FFFFFF;
  --yellow: #ffb400;
  --yellow2: #ffb40095;
  --available: #7EB942;
  --background: #F0F0F6;
  --dark-background: #18191A;
  --dark-view1: #242526;
  --dark-view2: #3A3B3C;
  --white-font: #FAFAFA;
  --paragraph: #767676;
  
  --x-larg-1: normal 700 4.8rem inter, arial;
  --x-larg-2: normal 700 3.2rem inter, arial;
  --x-larg-3: normal 700 1.4rem inter, arial;
  --larg-1: normal 600 2.4rem inter, arial;
  --larg-2: normal 600 1.4rem inter, arial;
  --medium-1: normal 500 1.8rem inter, arial;
  --medium-2: normal 500 1.6rem inter, arial;
  --medium-3: normal 500 1.4rem inter, arial;
  --medium-4: normal 500 1.2rem inter, arial;
  --small-1: normal 400 1.5rem inter, arial;
  --small-2: normal 400 1.2rem inter, arial;
  --small-3: normal 400 1.0rem inter, arial;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
	padding: 0;
	border: 0;
  outline: none;
}
html {
  font-size: 10px;
  color: var(--black);
}
html, body {
  background-color: var(--background);
  height: 100%;
}
body {
  font-size: 1.5rem;
  font-family: inter;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
table, thead, tbody, tfoot, tr, th, td {
  display: block;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: inherit;
  border-spacing: 0;
  border-color: inherit;
  vertical-align: inherit;
  text-align: left;
  font-weight: inherit;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}
th, td {
  display: inline;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
ol, ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}


/* --- my styles --- */

main{
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  text-transform: capitalize;
}



.top-navigation-menus{
  background-color: var(--white);
  height: 4.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2.5rem;
  position: fixed;
  z-index: 1000;
}



.left-menu, .right-menu {
  display: none;
}



.main-menu{
  grid-column: span 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
}
.main-menu h4{
  font: var(--medium-1);
  color: var(--black);
}
.main-menu p{
  font: var(--small-1);
  color: var(--paragraph);
  line-height: 1.6;
}


.main-menu-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 92%;
  margin-bottom: 5rem;
}
.main-menu-content h2,
.main-menu-content p,
.main-menu-content h3,
.main-menu-content h4 {
  text-align: center;
}
.main-menu-content-title{
  font: var(--larg-1);
  color: var(--black);
}
.main-menu-content-subtitle{
  font: var(--small-1);
  margin: 1.5rem 0 2.5rem 0;
}

/* --- general styles --- */

.btn-rect-style{
  background: var(--yellow);
  border-radius: .5rem;
}

/* --- header styles --- */

header.main-menu-content{
  position: relative;
  padding: 6rem;
  background-color: var(--white);
}
header p, header img{
  display: none;
}
header .btn-rect-style{
  text-transform: uppercase;
  font: var(--medium-2);
  width: 17.5rem;
  height: 5.5rem;
  padding: 1.6rem 2rem;
}
header .btn-rect-style::after{
  content: url(./icons/arrow.svg);
  margin-left: 1rem;
}
header h1{
  font: var(--x-larg-2);
  text-align: center;
  margin-bottom: 2.5rem;
}
header h1 span{
  display: block;
  margin: 1rem;
}
header .highlight{
  color: var(--yellow);
}
header svg.shape{
  position: absolute;
}
header svg.shape:nth-of-type(1){
  /* green cirlce */
  top: 15%;
  right: 20%;
}
header svg.shape:nth-of-type(5){
    /* yellow rect */
  top: 10%;
  left: 20%;
}
header svg.shape:nth-of-type(3){
    /* red triangle */
  bottom: 35%;
  right: 10%;
}
header svg.shape:nth-of-type(2){
    /* yellow circle */
  bottom: 10%;
  left: 10%;
}
header svg.shape:nth-of-type(4){
  /* blue rect */
  bottom: 55%;
  left: 12%;
}

/* --- servises style --- */

.main-menu-content-wrapper{
  width: 100%;
}
.multi-colum-boxes{
  --n: 4;  /* (n-1) = maximum column */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(25rem, 100%/var(--n)), 1fr));
  gap: 1.6rem;
}
.my-services-box,
.plans-box,
.recommend-box,
.portfolio-box,
.blog-box{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1.5rem;
  background: var(--white);
}
.my-services-box{
  padding: 3.5rem 2.5rem;
}
.my-services-box svg {
  margin-top: 1rem;
}
.my-services-box h3{
  margin-top: 1.5rem;
  font: var(--medium-1);
}
.my-services-box h3.without-icon{
  margin-bottom: 2rem;
}
.my-services-box .text-link{
  font: var(--larg-2);
  color: var(--yellow);
}
.my-services-box .text-link::after{
  display: inline-block;
  content: url(./icons/s-arrow.svg);
  margin-left: .5rem;
}

/* --- price-plans styles --- */

.plans-box{
  /* styles in myservises */
  padding: 2.5rem;
  gap: 1rem;
}
.plan-title{
  font: var(--larg-1);
  margin: 2.5rem 0 .5rem ;
}
.plan-price span:nth-child(1) {
  font: var(--x-larg-2);  
}
.plan-price span:nth-child(2) {
  color: var(--paragraph);
  margin-left: 1rem;
}
.plans-futures{
  padding: 0 2rem;
  width: 100%;
  line-height: 2.5;
}
.plans-futures li{
  padding-left: 1.5rem;
  color: var(--paragraph);
  list-style: url(./icons/multip.svg);
}
.plans-futures li[data-future=active]{
  list-style: url(./icons/tik.svg);
  color: inherit;
}
.btn-ellipse-style{
  width: 17rem;
  height: 4rem;
  border-radius: 3rem;
  background: var(--white);
  font: var(--x-larg-3);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
}
.plans-popular{
  position: relative;
  padding-top: 4.5rem;
}
.plans-popular::before{
  content: "most popular";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  background: var(--yellow);
  position: absolute;
  top: 0;
  left: 0;
}
.plans-popular button{
  background: var(--yellow);
}

/* --- recommendation styles --- */

.one-row-boxes{
  display: grid;
  grid-template-columns: repeat(3, minmax(25rem, auto));
  grid-auto-flow: column;
  gap: 1.5rem;
  overflow-x: auto;
}
.recommend-box{
  /* some style above */
  grid-column: inherit;
  align-items: start;
  padding: 2.5rem 1rem 2rem 2rem;
}
.recommend-rating-stars{
  display: flex;
  gap: .5rem;
}
.recommend-box h4{
  font: var(--medium-1);
  max-width: 100%;
}
.recommend-box p{
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: auto;
  max-height: 6.8rem;
  text-align: left;
}
.recommend-box-profile{
  display: flex;
  gap: 1.5rem;
  max-width: 100%;
}
.recommend-box-profile div{
  min-width: 0;
}
.recommend-box h4, 
.recommend-box-profile div p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recommend-box-profile img{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.dot-slider-wrapper span{
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 2rem .7rem;
  background-color: var(--yellow2);
}
.dot-slider-wrapper span:hover{
  background-color: var(--yellow);
}

/* --- education & history styles --- */

.multi-row-boxes{
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
}
.row-box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 2.5rem;
  background-color: var(--white);
}
.row-box h4{
  margin: 1rem 0;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.row-box-title,
.row-box-description{
  max-width: 100%;
}
.row-box-title span{
  margin-right: 1rem;
  color: var(--paragraph);
}
.row-box-title span:nth-of-type(2){
  color: var(--white);
  font: var(--small-3);
  padding: .5rem;
  background-color: var(--yellow);
}
.row-box-description p{
  overflow: auto;
  max-height: 10.5rem;
  text-align: left;
  padding: 1rem 0;
}

/* --- Portfolio styles --- */

.portfolio-filter{
  max-width: 100%;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  padding: .5rem 0;
  padding-bottom: 1.2rem;
}
.portfolio-filter li{
    white-space: nowrap;
    margin-right: 1.5rem;
}
.portfolio-filter li.selected{
  color: var(--yellow);
}
.portfolio-box{
  background: none;
}

/* --- blog styles --- */

.blog-box-content{
  max-width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.blog-box-content > *{
  max-width: 100%;
}
.blog-box-content h4,
.blog-box-content p{
  text-align: left;
  overflow: auto;
  padding: 1rem 0;
  min-height: 6rem;
  max-height: 10.5rem;  
}
.blog-box-content a{
  font: var(--medium-3);
  color: var(--yellow);
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  min-width: 15rem;
}